/* shared styles*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
    body{
        margin: 0 ;
    }

    /* header styles */

    
    
.nav-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav-img{
    width: 86.041px;
    height: 40px;
}
.nav-left h3{
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 20px;
}
.nav-right{
    display: flex;
}
.nav-right>ul{
    display: flex;
}
.nav-right li{
    list-style: none;
    margin-right: 32px;
}
.nav-right li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}
.nav-icon{
    display: flex;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    padding-left: 25px;
}
.nav-icon a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}
.youtube{
   padding-left: 24px;
}
.tiktok{
    padding-left: 24px;
}
/* nav section end and banner start */

.banner-container{
    display: flex;
    justify-content:space-between;
    padding: 0px 0px;

}
.banner-container-img{
    padding-right: 230px;
    
}
.banner-content{
    background: url(/images/Group\ 14.png);
    width: 901px;
    height: 700px;
    
}
.banner-prob{
    padding-left: 240px;
}

.bann-title-01{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 148px;
    margin-bottom: 12px;
   

}
.bann-title-02{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-top: 0px;
   margin-bottom: 0px;
}
.banner-des img{
    width: 24px;
    height: 24px;

}
.banner-des{
    margin-top: 24px;
}


.frame{
    display: flex;
    color: #534C64;
   font-size: 20px;
   font-weight: 500;
   text-transform: lowercase;
   align-items: center;
}
.frame p{
    margin-left: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.frame .no-dwn{
    margin-top: 17px;
    margin-bottom: 17px;
}
.btn-primary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 42px;
    cursor: pointer;
}
.btn-primary:hover{
    color: #3C354F;
   
}
.btn-second{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin-left: 24px;
}
.btn-second:hover{
    color: #3C354F;
}
/* banner end */

/* online section start */
.card-container{
    display: inline-flex;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 48px;
    gap: 24px;
}
.card-des{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; 
}

 .online-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0px;
}
.online-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.online-des{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 0px;
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-wrapper{
    position: relative;
}
.overlay{
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.image-wrapper:hover .overlay{
    color: rgba(90 90 90);
    opacity: 1;
}
.icon{
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
      
}
.text{
    font-size: 1.2rem;
    color: #F948B2;
}
/* online section end */

/* play games online start */
.play-games-container{
    display: flex;
    margin-top: 150px;
    margin-left: 240px;
}
.text-title{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 60px; 
    width: 426px;
    margin-top: 250px;
    margin-left: 300px;
    margin-bottom: 0px;
}
.text-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.games-des{
    width: 483px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 300px;
   
   
  
}
.game-img-2{
    position: absolute;
    margin-left: -180px;
    margin-top: 400px;
    
}
/* play games end */

/* button section start */
.button-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 1920px;
    height: 427px;
    margin-top: 250px;
}



.btn-primary-1st{
   display: flex;
  padding-top: 120px;
   align-items: center;
   margin-left: 200px;
}

.hover-text{
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 6px;
   
}
.btn-image-1{
    display: flex;
    width: 243px;
    height: 80px;
    background: #FFF;
    color: #0B0223;
    margin-left: 57px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;

}
.btn-image-1:hover{
    border: 2px solid #F948B2;
    color: #FF42A5;
}
.btn-image-1 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;
}
.btn-image-2{
    display: flex;
    width: 281px;
    height: 80px;
    background: #FFF;
    color: #0B0223;
    margin-left: 57px;
   border-radius: 50px;
    align-items: center;
    cursor: pointer
  
}
.btn-image-2:hover{
    border: 2px solid #F948B2;
    color: #FF42A5;
}
.btn-image-2 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;

}
.btn-image-3{
    display: flex;
    width: 248px;
    height: 80px;
    color: #0B0223;
    margin-left: 57px;
    border: 2px solid #F948B2;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    cursor: pointer
}
.btn-image-3 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;

}
.text-3{
    color: #F948B2;
}
.btn-image-4{
    display: flex;
    width: 295px;
    height: 80px;
    color: #0B0223;
    margin-left: 57px;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    cursor: pointer
}
.btn-image-4:hover{
    border: 2px solid #F948B2;
    color: #FF42A5;
}


.btn-image-4 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;

}
.btn-image-5{
    display: flex;
    width: 231px;
    height: 80px;
    color: #0B0223;
    margin-left: 57px;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    cursor: pointer
}
.btn-image-5:hover{
    border: 2px solid #F948B2;
    color: #FF42A5;
}
.btn-image-5 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;

}

.btn-primary-2{
    display: flex;
    margin-top: 100px;
    align-items: center;
    margin-left: 325px;
}
.btn-image-6{
    display: flex;
    width: 299px;
    height: 80px;
    color: #0B0223;
    margin-left: 57px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer
}
.btn-image-6:hover{
    border: 2px solid #F948B2;
    color: #FF42A5;
}
.btn-image-6 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;
}
.btn-image-7{
    display: flex;
    width: 317px;
    height: 80px;
    color: #0B0223;
    margin-left: 57px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer

}
.btn-image-7:hover{
    border: 2px solid #F948B2;
    color: #FF42A5;
}

.btn-image-7 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;
}
.btn-image-8{
    display: flex;
    width: 244px;
    height: 80px;
    color: #0B0223;
    margin-left: 57px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer
}
.btn-image-8:hover{
    border: 2px solid #F948B2;
    color: #FF42A5;
}
.btn-image-8 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;
}
.btn-image-9{
    display: flex;
    width: 262px;
    height: 80px;
    color: #0B0223;
    margin-left: 57px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer
}
.btn-image-9:hover{
    border: 2px solid #F948B2;
    color: #FF42A5;
}
.btn-image-9 img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;
}
/* button section end */
/* footer start */
.footer-container{
    background: #0B0223;
    width: 1920px;
    height: 636px;
    margin-top: 150px;
}
.footer-title{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 120px;
    gap: 20px;
}
.foot-img{
    width: 86.041px;
    height: 40px;
   padding-top: 6px ;
}
.foot-title span{
    color: #F948B2;
} 
   
.foot-title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    margin-top: 0px;
   
    
}
.footer-2 >ul {
    display: flex;
    justify-content: center;
    gap: 60px;
}
.footer-2 li{
    list-style: none;
    
    text-align: center;
    font-size: 18px;
    font-weight: 600;

   
}
.footer-2 a{
    text-decoration: none;
    color: #FFF;
}

.footer-3{
    display: flex;
    justify-content: center;
    margin-top: 66px;
    gap: 40px;
}
.footer-4 > ul{
    display: flex;
    justify-content: center;
    margin: 74px;
    gap: 60px;
}
.footer-4{
    list-style: none;
}
.footer-4 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;

}
.footer-5{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* footer end */
@media screen and (max-width:576px) {
    .nav-content{
        flex-direction: column;

    }
    .nav-right{
      
        flex-direction: column;
    }
    
    
}

    
        
    

    
    
   
    
